[submodule "nvim/plugged/blood-moon"]
	path = nvim/plugged/blood-moon
	url = https://github.com/dguo/blood-moon
[submodule "nvim/plugged/vim-airline"]
	path = nvim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/plugged/nerdtree"]
	path = nvim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "nvim/plugged/vim-gitgutter"]
	path = nvim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/plugged/vim-airline-themes"]
	path = nvim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
